<div class="container bg-light py-3">
    <div class="row justify-content-center py-3">
        <div class="col-md-5">
            <label for="identificationNumber" class="form-label" style="font-size: 1.1rem;">Ingresa tu número de
                identificación:</label>
            <div class="input-group mb-3">
                <input #identificationInput class="form-control" name="identificationNumber" inputmode="numeric"
                    pattern="[0-9]*" required (keydown.enter)="filtrarConsultas(identificationInput.value)">
                <button class="btn btn-primary" (click)="filtrarConsultas(identificationInput.value)">Buscar</button>
            </div>
            <div *ngIf="consultasFiltradas.length === 0" class="alert alert-warning">No se encontraron
                consultas.</div>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-md-10 offset-md-1">
            <table class="table table-striped" style="width: 98%; margin: auto;">
                <thead>
                    <tr>
                        <th style="width: 20%;">Identificación</th>
                        <th style="width: 35%;">Nombre completo</th>
                        <th style="width: 25%;">Fecha</th>
                        <th style="width: 20%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consulta of consultasFiltradas">
                        <td>{{consulta.identificacion}}</td>
                        <td>{{consulta.nombreCompleto}}</td>
                        <td>{{consulta.fecha | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td> <button class="btn btn-danger" (click)="verConsulta(consulta)">VER</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>